<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-dark rounded text-center p-5 shadow-down">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScgYO7r24Rulhhjb-iQC2UWDEXMymp22Ifh_2QO4WUL-FOGFw/viewform?embedded=true"
            width="640" height="641" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- /contact -->