// Color Variables
$primary-color: #5a5560;
$secondary-color: #9b786f;
$text-color: #9d8d8f;
$text-color-dark: #000;
$text-color-light: #faed26;
$body-color: #46344e;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
